
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="AddPost" method="post">
        <input type="text" name="ImgPath" placeholder="Ссылка на картинку">
        <input type="text" name="Title" placeholder="Заголовок">
        <input type="text" name="Text" placeholder="Текст">
        <button type="submit" name="submit">Добавить новость</button>
    </form>
</body>
</html>
